@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 10 10 10;
  --fg: 240 240 240;
}

html, body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  font-family: ui-sans-serif, system-ui, sans-serif;
}
